<h4 class="text-center">Article List</h4>
<hr>

<div class="container">
  <div class="row">
    <div class="example-header">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <mat-form-field style="width: 50%;">
            <input matInput (keyup)="applyFilter($event.target.value)" width="50%" placeholder="Filter">
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-6">
          <a mat-raised-button color="accent" [routerLink]="['/Article/Add']">Back</a>  
        </div>
      </div>
      
    </div>
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
          <ng-container matColumnDef="articleId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ArticleId </th>
            <td mat-cell *matCellDef="let element"> {{element.articleId}} </td>
          </ng-container>
          <!-- SchemeID Column -->
          <ng-container matColumnDef="articleTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ArticleTitle </th>
            <td mat-cell *matCellDef="let element"> {{element.articleTitle}} </td>
          </ng-container>
          <ng-container matColumnDef="articleDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ArticleDescription </th>
            <td mat-cell *matCellDef="let element"> {{element.articleDescription}} </td>
          </ng-container>
          <!-- SchemeName Column -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.isActive== true ? "Active": "DeActive"}} </td>
          </ng-container>
          
          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> CreatedDate </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDate| date: 'dd/MM/yyyy'}} </td>
          </ng-container>
          <!-- EditAction Column -->
          <ng-container matColumnDef="EditAction">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
              <a mat-icon-button color="accent" [routerLink]="['/Article/Edit/',element.articleId]">
                <mat-icon>edit</mat-icon></a> </td>
          </ng-container>
          <!-- DeleteAction Column -->
          <ng-container matColumnDef="DeleteAction">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" class="btn btn-info" (click)="Delete(element.articleId)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
  
          <tr  color="accent" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>