<div class="container">
  <mat-card>
    <mat-card-title> Artical </mat-card-title>
    <mat-card-content>
      <form [formGroup]="articleForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
              <label>Article Title</label>
              <input
              formControlName="ArticleTitle"
              type="text"
              class="form-control"
              autocomplete="off"
              placeholder="Article Title"
            />
            <mat-error>
              <span
                *ngIf="
                  !articleForm.get('ArticleTitle').valid &&
                  articleForm.get('ArticleTitle').touched
                "
                >Please enter Article Title !!!</span
              >
            </mat-error>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="form-group">
              <label>Article Description</label>
              <textarea
                formControlName="ArticleDescription"
                type="text"
                autocomplete="off"
                class="form-control"
                placeholder="Article Description"
              ></textarea>
           
            <mat-error>
              <span
                *ngIf="
                  !articleForm.get('ArticleDescription').valid &&
                  articleForm.get('ArticleDescription').touched
                "
                >Please enter proper Article Description !!!</span
              >
            </mat-error>
            </div>
          </div>
          

          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="form-group">
            <mat-form-field>
              <mat-label>Article Type</mat-label>
              <mat-select formControlName="Type">
                <mat-option
                  *ngFor="let type of articleType"
                  [value]="type.value"
                >
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-md-3">
            <div class="form-group">
            <input
              type="file" class="form-control"
              name="profile"
              (change)="onFileSelect($event)"
              accept=".png, .jpg, .jpeg"
            />
          </div>
          </div>
          <div class="col-xs-12 col-sm-2 col-md-2">
            <div class="form-group">
            <mat-slide-toggle
              [(ngModel)]="IsActive"
              formControlName="IsActive"
              (change)="onChange($event)"
              >Status</mat-slide-toggle
            >
            </div>

          </div>

          <div class="col-xs-12 col-sm-1 col-md-1">
            <div class="form-group">
            <button
              mat-raised-button
              color="primary" class="button-mar"
              type="submit"
              [disabled]="!articleForm.valid"
            >
              Submit
            </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>



<h4 class="text-center">Article List</h4>
<hr />

<div class="container">
  <div class="row">
    <div class="example-header">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <mat-form-field style="width: 50%">
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              width="50%"
              placeholder="Filter"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="articleId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ArticleId</th>
            <td mat-cell *matCellDef="let element">{{ element.articleId }}</td>
          </ng-container>
          <!-- SchemeID Column -->
          <ng-container matColumnDef="articleTitle">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              ArticleTitle
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.articleTitle }}
            </td>
          </ng-container>
          <ng-container matColumnDef="articleDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              ArticleDescription
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.articleDescription }}
            </td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Article Type
            </th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
          </ng-container>
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Image</th>
            <td mat-cell *matCellDef="let element">
              <img
                style="width: 50px; height: 50px"
                src="{{ element.image }}"
              />
            </td>
          </ng-container>
          <!-- SchemeName Column -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.isActive == true ? "Active" : "DeActive" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              CreatedDate
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.createdDate | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>
          <!-- EditAction Column -->
          <ng-container matColumnDef="EditAction">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <a
                mat-icon-button
                color="accent"
                [routerLink]="['/Article/Edit/', element.articleId]"
              >
                <mat-icon>edit</mat-icon></a
              >
            </td>
          </ng-container>
          <!-- DeleteAction Column -->
          <ng-container matColumnDef="DeleteAction">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="warn"
                (click)="DeleteArticle(element.articleId)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            color="accent"
            mat-header-row
            *matHeaderRowDef="displayedColumns"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
