
   
     <!-- form section start -->
	 <section class="w3l-workinghny-form">
        <!-- /form -->
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-subtitle>
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="logo">
                    <h1><a class="brand-logo" href="#"><span>Working</span> Sign In</a></h1>
                    <!-- if logo is image enable this   
                        <a class="brand-logo" href="#index.html">
                            <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                        </a> -->
                </div>
                <div class="workinghny-block-grid">
                    <div class="workinghny-left-img align-end">
                        <img src="../../assets/2.png" class="img-responsive" alt="img" />
                    </div>
                    <div class="form-right-inf">
						
                        <div class="login-form-content">
                            <h2>Where to?</h2>
                            <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
								<div class="one-frm">

									<label for="name">Username</label>
                                        <input autofocus type="text" class="form-control" name="Username" [(ngModel)]="LoginModel.Username" maxlength="50"
                                            #refUsername="ngModel" id="Username" required>
                                        <div *ngIf="!refUsername.valid  && (refUsername.dirty || refUsername.touched)" class="alert alert-danger">
                                            <div [hidden]="!refUsername.errors.required">
                                                    Username is required
                                            </div>
                                        </div>
            
								</div>
								<div class="one-frm">
                                    <label for="name">Password</label>
                                    <input autofocus type="password" class="form-control" name="Password" [(ngModel)]="LoginModel.Password" maxlength="50"
                                        #refPassword="ngModel" id="Password" required>
                                    <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                                        <div [hidden]="!refPassword.errors.required">
                                                Password is required
                                        </div>
                                    </div>
								</div>
                                <!-- <label class="check-remaind">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    <p class="remember">Remember Me</p>

                                </label> -->
                                <button class="btn btn-style mt-3" type="submit" [disabled]="!f.form.valid">SIGN-IN</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
        <!-- //form -->
        <!-- copyright-->
        <div class="copyright text-center">
            <div class="wrapper">
                <p class="copy-footer-29">© 2021 Working Sign In. All rights reserved | Design by Growup</p>
            </div>
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
   