<div class="container">
    <div class="row shadow p-3 mb-5 bg-white rounded">
        <h4 class="text-center">Update System User</h4>
<hr>
<div class="panel panel-default">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-2">
                    <label for="name">UserName</label>
                    <input autocomplete="off" type="text" class="form-control" name="userName" [(ngModel)]="UserModel.userName" maxlength="50"
                        #refUserName="ngModel" id="userName" required>
                    <div *ngIf="!refUserName.valid  && (refUserName.dirty || refUserName.touched)" class="alert alert-danger">
                        <div [hidden]="!refUserName.errors.required">
                            UserName is required
                        </div>
                    </div>
                </div>
   
                <div class="col-md-2">
                    <label for="name">EmailId</label>
                    <input autocomplete="off" type="text" class="form-control" maxlength="50" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="EmailId" [(ngModel)]="UserModel.emailId" maxlength="50"
                        #refEmailId="ngModel" id="emailId" required>
                    <div *ngIf="!refEmailId.valid  && (refEmailId.dirty || refEmailId.touched)" class="alert alert-danger">
                        <div [hidden]="!refEmailId.errors.required">
                            EmailId is required
                        </div>
                        <div  *ngIf="refEmailId.errors && refEmailId.errors.pattern">
                            EmailId is invalid
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="name">Contactno</label>
                    <input autocomplete="off" type="text" class="form-control" name="Contactno" [(ngModel)]="UserModel.contactno"
                        maxlength="10" #refContactno="ngModel" id="Contactno" required>
                    <div *ngIf="!refContactno.valid  && (refContactno.dirty || refContactno.touched)" class="alert alert-danger">
                        <div [hidden]="!refContactno.errors.required">
                            Contactno is required
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="name">Password</label>
                    <input autocomplete="off" type="password" class="form-control" name="Password" [(ngModel)]="UserModel.password"
                        maxlength="50" #refPassword="ngModel" id="Password" required>
                    <div *ngIf="!refPassword.valid  && (refPassword.dirty || refPassword.touched)" class="alert alert-danger">
                        <div [hidden]="!refPassword.errors.required">
                            Password is required
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="name" style="margin-right: 17px;">Status</label>
                    <input autocomplete="off" style="margin-top: 26px;" type="checkbox" name="Status" [(ngModel)]="UserModel.status" maxlength="50" #refStatus="ngModel"
                        id="Status" required>
                    <div *ngIf="!refStatus.valid  && (refStatus.dirty || refStatus.touched)" class="alert alert-danger">
                        <div [hidden]="!refStatus.errors.required">
                            Status is required
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Submit</button>
                </div>

            </div>
        </form>

    </div>
</div>
    </div>
</div>