<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-title class="text-center">
          Donation Link Form
        </mat-card-title>
        <mat-card-content>
          <form [formGroup]="donation" (ngSubmit)="submit()">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label>Donation Title</label>
                    <input
                      formControlName="title"
                      name="title"
                      autocomplete="off"
                      placeholder="Donation Title"
                      id="title"
                      class="form-control"
                    />

                    <mat-error>
                      <span
                        *ngIf="
                          !donation.get('title').valid &&
                          donation.get('title').touched
                        "
                        >Please enter title !!!</span
                      >
                    </mat-error>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="form-group">
                    <label>Donation Link</label>
                    <input
                      type="text"
                      formControlName="donationLink"
                      name="donationLink"
                      id="donationLink"
                      autocomplete="off"
                      class="form-control"
                      placeholder="Donation Link"
                    />

                    <mat-error>
                      <span
                        *ngIf="
                          !donation.get('donationLink').valid &&
                          donation.get('donationLink').touched
                        "
                        >Please enter donationLink !!!</span
                      >
                    </mat-error>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                  <div class="form-group">
                    <mat-slide-toggle formControlName="isActive" name="isActive"
                      >Status</mat-slide-toggle
                    >
                  </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                  <div class="form-group">
                    <button
                      mat-raised-button
                      color="primary"
                      type="submit"
                      [disabled]="!donation.valid"
                      class="button-mar"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<h4 class="text-center">Donation Links List</h4>
<hr />
<div class="container">
  <div class="row">
    <div class="example-header">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <mat-form-field style="width: 50%">
            <input
              matInput
              (keyup)="applyFilter($event.target.value)"
              width="50%"
              placeholder="Filter"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="mat-elevation-z8">
        <table
          mat-table
          [dataSource]="dataSource"
          matSort
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="donateId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element">{{ element.donateId }}</td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let element">{{ element.title }}</td>
          </ng-container>

          <ng-container matColumnDef="donationLink">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Donation Link
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.donationLink }}
            </td>
          </ng-container>
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              {{ element.isActive == true ? "Active" : "DeActive" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="createdDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              CreatedDate
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.createdDate | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="DeleteAction">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="warn"
                (click)="Delete(element.donateId)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr
            color="accent"
            mat-header-row
            *matHeaderRowDef="displayedColumns"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
