/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 

table {
    width: 100%;
} 
.mat-form-field{width:100%;}
.misc-bottom-padding{margin:8px 0 20px;}
.misc-bottom-padding mat-label{margin-right:15px;}
.mat-radio-label{margin:0 15px 0 0;}
.title-center{margin:0 auto;}
.button-wrapper{margin-top:10px;}
.mat-slide-toggle{
margin-top: 20px;
}
.button-mar
{
 margin-top: 20px !important;
}
.form-control{
    margin-top: 20px !important;
}